<div ng-controller="instanciationsController">
  <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-success navbar-btn btn-xs" ng-click="addInstanciation();">Add Instanciation <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
      <button type="button" class="btn btn-danger navbar-btn btn-xs" ng-click="removeInstanciation();">Delete Instanciation <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
  </div>
  <div ag-grid="instanciationsGridOptions" class="ag-theme-balham"></div>
</div>