<div ng-controller="actionsController">
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success navbar-btn btn-xs" ng-click="addNodetypeAction()">Add Action <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-danger navbar-btn btn-xs" ng-click="deleteNodetypeActions()">Delete Action <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
    </div>
    <div ag-grid="actionsGridOptions" class="ag-theme-balham"></div>
</div>