<div ng-controller="methodsController">
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success navbar-btn btn-xs" ng-click="addNodetypeMethod();">Add Method <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-danger navbar-btn btn-xs" ng-click="removeNodetypeMethod();">Delete Method <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
    </div>
    <div ag-grid="methodsGridOptions" class="ag-theme-balham"></div>
</div>