$lightGray: #eee;
$boxShadow: rgba(0, 0, 0, 0.15);
$fileGalleryShadowStart: rgba(60, 64, 67, 0.302);
$fileGalleryShadowEnd: rgba(60, 64, 67, 0.149);
$fileGalleryMediaSelectedBorder: #385380;

.fileGalleryItem {
  margin-bottom: 15px;
}

.fileGalleryItem .media {
  --tw-shadow: 0 1px 3px 0 #0000001a,0 1px 2px 0 #0000000f!important;
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important;
  white-space: nowrap;
  padding: 15px;
  border: 1px solid $lightGray;
  border-radius: 1rem;
  box-shadow: 0 1px 2px $boxShadow;
  height: 140px;
}

.fileGalleryItem .media.mediaSelected {
  background: $lightGray;
  padding: 15px;
  border: 2px solid $fileGalleryMediaSelectedBorder;
  box-shadow: 0 1px 2px $boxShadow;
}


.fileGalleryItem .media:hover {
  box-shadow: 0 1px 2px 0 $fileGalleryShadowStart, 0 2px 6px 2px $fileGalleryShadowEnd;
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

.fileGalleryItem .media .media-left span {
  font-size: 16px;
  font-weight: 600;
}

.fileGalleryItem .media .media-left img {
  width: 80px;
  height: 80px;
}

.panel{
  border: none;
}